<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    

    <h1>Historial</h1>
    <% if (productos.length == 0) { %>
        <h2>No hay productos aun..</h2>
    <%} else { %> 
    <table>
        <thead>
            <th>Imagen</th>
            <th>Nombre</th>
            <th>Precio</th>
            <th>Cantidad</th>
        </thead>
        <tbody>
                <% productos.forEach(prod => { %>
                    <tr>
                        
                        <td> <img src="<%=prod.imagen%>" alt=""></td>
                        <td><%= prod.nombre %></td>
                        <td><%= prod.precio %></td>
                        <td><%= prod.cantidad %></td>
                    </tr>
                <%}) %> 
        </tbody>
    </table> <% } %>

    <a href="/"><button>Volver al inicio</button></a>

</body>
</html>